<div id="instawidget_instagram" class="insta insta_col_6 insta_medium" style="width: 100%; padding-bottom: 0px;"
     data-id="" data-num="6" data-res="auto" data-cols="6"
     data-options="{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;false&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;0&quot;}"
     data-insta-index="0">
    <div id="insta_images" style="padding: 0px;">
    </div>
    <div id="insta_load">
        <div class="insta_follow_btn"><a href="" style="" target="_blank">@industrial_kitchen_solutions</a></div>
    </div>
</div>